<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="umkc.edu.cccyt3.temp_mems" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/temp_mems_icon"
        android:label="TEMP MEMS"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".IIActivity"
            android:label="@string/title_activity_ii" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="LIST VIEW" >
        </activity>
        <activity
            android:name=".ViewEqActivity"
            android:label="@string/title_activity_view_eq" >
        </activity>
        <activity
            android:name=".SplashScreen"
            android:label="TEMP MEMS" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
